html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 60px;
}
#map {
  height: 100%;
  width: 100%;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    color: #15317E;
    font-size: large;
}
.geojson-list-item {
    white-space: nowrap;
	font-size: 14px;
}

#geofilter {
	margin: 0 20px;
	font-size: 16px;
	border: 2px solid #1978cf;
	box-shadow: 0 0 8px #999;
}
#geofilter option {
	padding: 4px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container .text-muted {
  margin: 0px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}